/* BASE FONT */
html {
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #131313; 
}

/* PAGE CONTAINER */
body {
  width: 600px;
  margin: 80px auto;
  padding: 40px 30px;

}

/* HEADING */
h1 {
  font-family: "SF Mono", Menlo, Monaco, Consolas,
               "Liberation Mono", monospace;
  font-size: 6rem;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 0 0 20px;
  color: #f5f5f5;
  text-shadow: 0 0 8px rgba(131, 255, 164, 0.742);
}
/* BLINKING HEADING */
h1::after {
  content: "_";
  margin-left: 6px;
  color: #f5f5f5;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

h1 {
  position: relative;
}

button {
  display: block;
  margin: 32px auto 0;
  padding: 10px 18px;

  background: transparent;
  color: #f5f5f5;

  font-family: "SF Mono", Menlo, Monaco, Consolas,
               "Liberation Mono", monospace;
  font-size: 1.4rem;
  letter-spacing: 1px;

  border: 1px solid rgba(241, 233, 233, 0.4);
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover,
button:focus-visible {
  background: rgba(34, 66, 29, 0.1);
  box-shadow: 0 0 12px rgba(142, 183, 82, 0.35);
  transform: translateY(-1px);
}
button:active {
  transform: translateY(0);
  box-shadow: 0 0 6px rgba(142, 183, 82, 0.25);
}



/* GLITCH ON HOVER - i did look up how to do this :p */
h1:hover {
  animation: glitch 0.35s linear infinite;
}

@keyframes glitch {
  0% { text-shadow: 3px 0 #8fa835, -2px 0 #6b1a1a; }
  20% { text-shadow: -3px -1px #8fa835, 2px 1px #6b1a1a; }
  40% { text-shadow: 3px 1px #8fa835, -2px -1px #6b1a1a; }
  60% { text-shadow: -1px 0 #8fa835, 1px 0 #6b1a1a; }
  100% { text-shadow: 3px 0 #8fa835, -2px 0 #6b1a1a; }
}


/* BODY TEXT */
p, li {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.5px;
  color: #8fa835;
}


img {
  display: block;
  margin: 30px auto;
}

a{
  color:#6b1a1a;
}

/* TERMINAL CONTAINER */
.terminal {
  background: #201f1f;
  border-radius: 14px;
  padding: 32px 28px;
  box-shadow:
    inset 0 0 0 1px rgba(106, 50, 50, 0.3),
    0 20px 45px rgba(0, 0, 0, 0.8);
  font-family: "SF Mono", Menlo, Monaco, Consolas,
               "Liberation Mono", monospace;
}


/* TERMINAL MARKER */
.terminal li::before {
  content: "$ ";
  color: #6b1a1a;
}

.terminal p,
.terminal li {
  line-height: 1.8;
  letter-spacing: 0.2px;
}


.terminal ul {
  list-style: none;
  padding-left: 0;
}

.terminal li {
  margin-left: 0;
}
